body {
    background: linear-gradient(to left, #ff7e5f, #feb47b);
}

h1,
h2,
h3 {
    color: #000000;
    text-align: center;
}

p {
    color: red;
    font-family: verdana;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}